.insights--wrapper {
  margin: 150px 0;
  h1 {
    margin-bottom: 0;
  }
  .columns {
    max-width: 80%;
    margin: 0 auto;
    align-items: center;
  }
  .columns.posts {
    margin-top: 45px;
  }
}
.filter--buttons {
  .button {
    min-width: 6rem;
  }
  .button:not(:last-child) {
    margin-right: 15px;
  }
}
.insights--wrapper article {
  a {
    background-color: #FFFFFF;
    box-shadow: 0 7px 12px rgba(0,0,0,0.28);
    border-radius: 2px;
    display: block;
    height: 700px;
  }
  .wrap {
    color: #65748E;
    position: relative;
    height: 100%;
  }
  .content {
    padding: 35px;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  p {
    margin-top: 0;
  }
  span {
    display: flex;
    align-items: center;
  }
  .category {
    display: inline-flex;
    padding: 15px 30px;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
  .date {
    color: #26B4C7;
    margin: 15px 0;
  }
  .image--block {
    overflow: hidden;
    height: 300px;
    background-size: cover !important;
    background-position: center center !important;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 46px;
      background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjY5MDYuNSA3MjUuNTkyIDM5OSAyODUuMTUxIj4gIDxkZWZzPiAgICA8c3R5bGU+ICAgICAgLmNscy0xIHsgICAgICAgIGZpbGw6ICNmZmY7ICAgICAgfSAgICA8L3N0eWxlPiAgPC9kZWZzPiAgPHBhdGggaWQ9IlBhdGhfMjExIiBkYXRhLW5hbWU9IlBhdGggMjExIiBjbGFzcz0iY2xzLTEiIGQ9Ik02OTIxLjUsNTEyLjM2M3MxMDUuMzg4LTI2LjA0LDIwNS4xMzgtMjYuMDQsMTkzLjg2MiwyNi4wNCwxOTMuODYyLDI2LjA0Vjc3MS40NzRoLTM5OVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xNSAyMzkuMjY5KSIvPjwvc3ZnPg==');
      background-size: cover;
    }
  }
  .read--more {
    position: absolute;
    bottom: 35px;
    left: 35px;
  }
}
.blog {
  .category {
    background-color: #0093FF;
  }
  .read--more {
    color: #0093FF;
  }
}
.case-study {
  .category {
    background-color: #FF9090;
  }
  .read--more {
    color: #FF9090;
  }
}