body.single {
  background-color: #E7EBF0;
}
.single {
  .single__content {
    max-width: 80em;
    margin: 0 auto;
    padding-bottom: 20em;
  }
  .single__image {
    height: 500px;
    background-size: cover !important;
    background-position: center center !important;
  }
  .single__title {
    color: #65748E;
    margin: 0;
  }
  header {
    margin: 20px 0;
  }
}