.page-template-template-products .main-content > .columns,
.page-template-template-single-products .main-content > .columns,
.page-template-template-parent-products .main-content > .columns,
.page-template-template-products-single .main-content > .columns,
.page-template-template-cresstec-tool-viewer .main-content > .columns,
.page-template-template-parts-database .main-content > .columns {
  min-height: 100vh;
}
.products--sidebar {
  background: #19366E;
  height: 100%;
  position: relative;
  z-index: 2;
}
.products--sidebar .aside--inner {
  width: 80%;
  margin: 0 auto;
  padding: 75px 0;
}
.products--sidebar .aside--inner > h6 {
  margin-top: 0;
}
.page--content--wrap.products {
  background: linear-gradient(150deg, rgba(22, 65, 145, 1) 0%, rgba(38, 180, 199, 1) 100%);
  color: #FFFFFF;
  .segmented--circle--products {
    position: absolute;
    bottom: 0;
    left: -175px;
    width: 250px;
    height: 250px;
  }
  .circles {
    right: -200px;
    width: 60%;
  }
  .inner--wrap {
    max-width: 80%;
    position: relative;
    z-index: 2;
  }
}
.product--circles {
  position: absolute;
  right: -300px;
  top: -400px;
  width: 800px;
  .cls-1,
  .cls-3,
  .cls-4,
  .cls-6 {
    fill: none;
  }

  .cls-1 {
    stroke: #26C7A8;
  }

  .cls-1,
  .cls-3 {
    stroke-width: 6px;
  }

  .cls-3 {
    stroke: #FF9090;
  }

  .cls-5,
  .cls-7 {
    stroke: none;
  }

  .cls-7 {
    fill: #0093FF;
  }
}

// Single Product
.single--product .inner--wrap .columns {
  align-items: center;
}

// Product Children
.product--children {
  margin-top: 35px;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li:not(:last-child) {
      margin-right: 15px;
    }
  }
  li {
    display: inline-block;
  }
  a {
    height: 120px;
    &:hover {
      color: #FFFFFF;
    }
  }
}

// Product Parent Page Circles
.product--parent--page--circles {
  position: absolute;
  right: 0;
  width: 100%;
  opacity: 0.6;
  .cls-1,
  .cls-3,
  .cls-5,
  .cls-6,
  .cls-8 {
    fill: none;
  }
  .cls-1 {
    stroke: #26C7A8;
  }
  .cls-1,
  .cls-3,
  .cls-6 {
    stroke-width: 6px;
  }
  .cls-3 {
    stroke: #FF9090;
  }
  .cls-6 {
    stroke: #FF9D00;
  }
  .cls-7,
  .cls-9 {
    stroke: none;
  }
  .cls-9 {
    fill: #0093FF;
  }
}

// Products Single Circles
.products--single--circles {
  position: absolute;
  width: 80%;
  top: -200px;
  left: -200px;
  opacity: 0.5;
  .cls-1,
  .cls-4,
  .cls-5,
  .cls-6,
  .cls-8 {
    fill: none;
  }

  .cls-1 {
    stroke: #26C7A8;
  }

  .cls-1,
  .cls-4,
  .cls-6 {
    stroke-width: 6px;
  }

  .cls-4 {
    stroke: #FF9090;
  }

  .cls-6 {
    stroke: #FF9D00;
  }

  .cls-7,
  .cls-9 {
    stroke: none;
  }

  .cls-9 {
    fill: #0093FF;
  }
}

// Single Product Page
.single--product {
  h5 {
    margin: 0;
    color: #26C7A8;
  }
  h5 ~ h1 {
    margin-top: 0;
  }
}

// Cresstec Tool Viewer
.page--content--wrap.cresstec--tool--viewer {
  background: #E7EBF0;
  color: #65748E;
  h1 {
    color: #1B54A8;
  }
  h2 {
    color: #8396B5;
  }
  img {
    margin-top: 25px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  }
}

// Products Search
.page--content--wrap.products--search {
  .inner--wrap {
    max-width: 50em;
    margin: 0 auto;
    text-align: center;
  }
  .circular--accents {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 120%;
  }
  .search--icon--wrap {
    width: 100px;
    margin: 0 auto;
    position: relative;
    opacity: 0;
    transform: scale(0);
  }
  .search--input {
    opacity: 0;
    transform: translateY(50px);
  }
  .product--children .columns {
    max-width: 80em;
    margin: 0 auto;
    justify-content: center;
  }
  .product--children a {
    height: 60px;
    min-width: 0;
    width: 100%;
    opacity: 0;
    transform: translateX(200px);
  }
  p {
    margin-top: 0;
    margin-bottom: 25px;
  }
  p span {
    font-size: $size-7;
  }
  span {
    display: inline-block;
    opacity: 0;
    transform: translateY(50px);
  }
  h2,
  p {
    opacity: 0;
    transform: translateY(50px);
  }
}
