*,
*::after,
*::before {
  @include box-sizing(border-box);
}

html { // stylelint-disable-line selector-no-type
  @include text-size(default);
}

body { /* stylelint-disable-line selector-no-type */
  @include font-smoothing;
  font-family: $base-font-family;
  color: $cresstec-body-color;
  background-color: $base-bg-color;
  position: relative;
  overflow-x: hidden;

  &.overflow-hidden {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
  height: auto;
}

body:not(.home) .main-content {
  margin-top: 125px;
}

.full--height--container {
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
  @media screen and (min-width: 1088px) {
    min-height: 100vh;
  }
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  width: 200px;
  height: auto;
  a {
    display: block;
  }
  .cls-1 {
    fill: #FFFFFF;
    stroke-width: 0;
  }
}
.section {
  @media screen and (max-width: 1087px) {
    padding: 25px;
    align-items: center;
  }
  @media screen and (min-width: 1088px) {
    padding: 45px 75px 45px 75px;
    align-items: flex-start;
  }
  display: flex;
  width: 100%;
}

// Circle
.circle {
  position: absolute;
  border-radius: 50%;
}
.circle--large {
  background-color: #19366E;
}
.circle--small {
  background: linear-gradient(50deg, rgba(11, 142, 255, 1) 0%, rgba(38, 180, 199, 1) 100%);
}

// Circle Segmented
.segmented--circle {
  @media screen and (min-width: 320px) {
    bottom: 10vw;
    left: -1.5rem;
    width: 150px;
    height: 150px;
  }
}

// Circuit
.circuit--a {
  .st1 {
    fill: #26B4C7;
  }
  .st2 {
    fill: none;
  }
  svg {
    width: 100%;
    height: 100%;
  }
}
.circuit--b {
  svg {
    width: 100%;
    height: 100%;
  }
  .cls-1,
  .cls-9 {
    fill: none;
    stroke: #459FDD;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
  .cls-1 {
    stroke-width: 1.5px;
  }
  .cls-2 {
    fill: #1B54A8;
  }
  .cls-3 {
    fill: #26B4C7;
  }
  .cls-4 {
    fill: #0093FF;
  }
  .cls-5 {
    fill: #3087CE;
  }
  .cls-6 {
    fill: #FF9090;
  }
  .cls-7 {
    fill: #FF9D00;
  }
  .cls-9 {
    stroke-width: 3px;
  }
}
.circuit--c {
  svg {
    width: 100%;
    height: 100%;
  }
  .cls-1 {
    fill: #FF9D00;
  }
  .cls-3 {
    fill: #0093FF;
  }
  .cls-4 {
    fill: #3087CE;
  }
  .cls-5 {
    fill: #26B4C7;
  }
  .cls-6,
  .cls-7 {
    fill: none;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
  .cls-6 {
    stroke: #1B54A8;
    stroke-width: 15px;
  }
  .cls-7 {
    stroke: #459FDD;
    stroke-width: 1.5px;
  }
}

// Small Circuit
.small--circuit {
  width: 150px;
  height: auto;
  .cls-1 {
    fill: none;
    stroke: #D0D0D0;
  }
  &.mirrored {
    transform: scale(-1);
  }
  &.vertical {
    transform: rotate(-90deg);
  }
  &.position--absolute {
    position: absolute;
  }
}

// Modules
.module {
  background: #FFFFFF;
  border-radius: 4px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.15);
}

// Icons
.cresstec--icon svg {
  width: 100%;
  height: 100%;
}
// Brain Icons
.brain--icon {
  .cls-2 {
    fill: #FFFFFF;
  }
  .cls-4 {
    fill: #03163B;
  }
}

// Circles
.circles {
  @media screen and (min-width: 320px) {
    width: 100%;
    height: auto;
  }
  position: absolute;
  .cls-1,
  .cls-3,
  .cls-9 {
    fill: none;
  }
  .cls-1,
  .cls-3 {
    stroke: #FF9D00;
    stroke-width: 6px;
  }
  .cls-3 {
    stroke: #FFFFFF;
  }
  .cls-8 {
    stroke: none;
  }
}

// Circuit Board

.circuit--board {
  .cls-1,
  .cls-2 {
    fill: none;
    stroke: #12387C;
  }
  .cls-1,
  .cls-2,
  .cls-3 {
    stroke-miterlimit: 10;
  }
  .cls-1 {
    stroke-width: 3px;
  }
  .cls-2,
  .cls-3 {
    stroke-width: 2px;
  }
  .cls-3,
  .cls-5 {
    fill: #12387C;
  }
  .cls-3 {
    stroke: #337CC4;
  }
  .cls-4 {
    fill: #337CC4;
  }
}

// To Top Button
.scroll-to-top {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 12px;
  color: $cresstec-body-color;
}

.show--on--mobile {
  @media screen and (max-width: 1087px) {
    display: block;
  }
  @media screen and (min-width: 1088px) {
    display: none;
  }
}

.show--on--desktop {
  @media screen and (max-width: 1087px) {
    display: none;
  }
  @media screen and (min-width: 1088px) {
    display: block;
  }
}

.float--right {
  float: right;
}

.align--items--center {
  align-items: center;
}

.column {
  position: relative;
}

// Sixty Years Graphic
.sixty--years--graphic {
  width: 525px;
  height: auto;
  position: relative;
  z-index: 2;
  margin: 0 auto;
}
.sixty--years--circles {
  width: 60%;
  position: absolute;
  z-index: 3;
  .cls-7 {
    fill: none;
  }
  .cls-5 {
    stroke: none;
  }
}
.sixty--years--segmented--circle {
  width: 100%;
  position: absolute;
  top: 0;
  right: 50px;
  z-index: -1;
}

// Full Height
.is-full-height {
  height: 100%;
}

// Page
.page {
  background: #E7EBF0;
}

// Parallax
//.parallax {
//  transform: translateZ(-1px) scale(2);
//  z-index: -1;
//}

// Sidebar
.sidebar {
  background: #19366E;
  height: 100%;
  position: relative;
  z-index: 2;
  .aside--inner {
    width: 80%;
    margin: 0 auto;
    padding: 75px 0;
  }
  .aside--inner > h6 {
    margin-top: 0;
  }
  h5 {
    color: #0B8EFF;
    a {
      font-size: 0.8rem;
      color: #0B8EFF;
    }
  }
  h5,
  li,
  a {
    font-size: $size-6;
  }
  li {
    list-style-type: none;
    margin-bottom: 16px;
  }
  li > span {
    display: block;
  }
}
.sidebar li ul li {
  font-size: 12px;
  a {
    color: #93CDFF;
  }
  a:hover {
    color: #FF9D00;
  }
}
.sidebar li ul {
  margin-top: 25px;
  padding-left: 15px;
  position: relative;
  &::before {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -15px;
    background-color: #459FDD;
  }
}
.sidebar .aside--inner > ul {
  padding: 0;
}
.sidebar,
.sidebar a {
  color: #FFFFFF;
}
.sidebar a:hover {
  color: #26C7A8;
}
.sidebar .parent {
  position: relative;
  &::before {
    content: '';
    border-radius: 50%;
    width: 5px;
    height: 5px;
    position: absolute;
    top: 11px;
    left: -15px;
    background-color: #FFFFFF;
  }
}

// Circular Accents
.circular--accents {
  .cls-1 {
    fill: #FF9D00;
  }

  .cls-2 {
    fill: #FF9090;
  }

  .cls-3 {
    fill: #26C7A8;
  }

  .cls-4 {
    fill: #0B8EFF;
  }

  .cls-5 {
    fill: none;
    stroke: #FFFFFF;
  }
}

// Binoculars
.binoculars {
  .cls-1 {
    fill: #FFFFFF;
  }
}

// Page Content Wrap
.page--content--wrap {
  padding: 40px 80px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  font-size: 14px;
  h1:first-child {
    margin: 0;
  }
  li:not(:last-child) {
    margin-bottom: 15px;
  }
}

// Quote Button
.request--a--quote--button {
  position: absolute;
  top: 150px;
  right: 0;
  z-index: 5;
  span {
    display: block;
    transition: all 350ms;
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
  .quote--button {
    position: absolute;
    top: -50px;
    right: 0;
    z-index: 2;
  }
  .button {
    height: 85px;
    min-width: 0;
    transition: all 350ms;
  }
  .button.active {
    min-width: 750px;
    span {
      position: absolute;
      left: 25px;
    }
  }
}

.quote--form {
  background-color: #FFFFFF;
  padding: 3em;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  transition: all 350ms 100ms ease-out;
  opacity: 0;
  transform: translateX(50px);
  &.active {
    opacity: 1;
    transform: translateX(0);
  }
}

// Page Banner'
.page--banner {
  height: 500px;
  background-size: cover !important;
  background-position: center center;
  h1 {
    margin-bottom: 0;
  }
  .columns {
    align-items: center;
    max-width: 75%;
    margin: 0 auto;
    height: 100%;
    color: #FFFFFF;
  }
  .circular--accents {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

// Circular Accents Dark

.circular--accents--dark {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  .cls-1 {
    fill: #FF9D00;
  }

  .cls-2 {
    fill: #FF9090;
  }

  .cls-3 {
    fill: #26C7A8;
  }

  .cls-4 {
    fill: #0B8EFF;
  }

  .cls-5,
  .cls-6 {
    fill: none;
  }

  .cls-5 {
    stroke: #65748E;
  }

  .cls-6 {
    stroke: #8396B5;
  }
}

// Newspaper Icon
.newspaper--icon {
  .cls-1 {
    fill: #65748E;
  }
  &.white {
    .cls-1 {
      fill: #FFFFFF;
    }
  }
}

// Contact Icon
.contact--icon {
  .cls-1 {
    fill: #FFFFFF;
  }
}

// Search Form
.search--form {
  label {
    display: block;
    margin-top: 50px;
    margin-bottom: 20px;
    span {
      display: inline-block;
    }
  }
  input {
    width: 100%;
    border-radius: 4px;
    border: none;
    padding: 15px;
  }
}
// Circular Arrow
.circular--arrow {
  .cls-1 {
    fill: #FFFFFF;
  }
}

// Placeholders
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FFFFFF;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #FFFFFF;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #FFFFFF;
}

// Date

.date {
  color: #26B4C7;
  margin: 15px 0;
  font-size: 0.8rem;
  display: block;
}

.posts--list {
  .date {
    margin: 0;
    font-size: 0.7rem;
  }
  a {
    font-size: 0.8rem;
    display: block;
  }
  li {
    margin: 0;
  }
  li:not(:last-child) a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding: 0.8em 0;
  }
  li:last-child a {
    padding-top: 0.8em;
  }
}

// Contact Form

input:not([type=submit]),
textarea {
  border-radius: 4px;
  border: none !important;
  padding: 15px !important;
  background-color: #8396B5;
  color: #ffffff;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}
.gform_button {
  background-color: #26B4C7;
  padding: 0 !important;
  min-width: 14rem !important;
  height: 50px !important;
}