// Mobile
.mobile--menu--wrap {
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 600px) {
    width: 40%;
  }
  @media screen and (min-width: 500px) {
    width: 60%;
  }
  @media screen and (min-width: 320px) {
    min-height: 100vh;
    width: 80%;
    padding: 1.2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    background: linear-gradient(125deg, rgba(38, 180, 199, 1) 0%, rgba(11, 142, 255, 1) 100%);
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 7px 7px 0 rgba(0, 0, 0, 0.19);
    opacity: 0;
    transform: translateX(-100%);
    transition: all 350ms ease-out;
  }
  &.active {
    opacity: 1;
    transform: translateX(0);
  }
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    @media screen and (min-width: 320px) {
      margin-bottom: 0.5rem;
    }
    &:not(:last-child) {
      padding-bottom: 0.5rem;
      border-bottom: 1px solid #337CC4;
    }
    list-style-type: none;
  }
  a {
    @media screen and (min-width: 320px) {
      font-size: 14px;
    }
    color: #FFFFFF;
  }
}
.mobile--menu--button {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

// Nav Wrap
.nav--wrap {
  nav {
    text-align: right;
  }
}

.main-navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-flex;
  justify-content: space-between;
  & > li:not(:last-child) {
    @media screen and (max-width: 1087px) {
      margin-right: 16px;
    }
    @media screen and (min-width: 1088px) {
      margin-right: 60px;
    }
  }
  & > li {
    display: inline-block;
    padding: 10px 0;
  }
  a {
    @media screen and (min-width: 320px) {
      font-size: 14px;
    }
    color: #FFFFFF;
  }
}

// hover effect

.nav_hover .cls-1 {
  fill: none;
  stroke: #26B4C7;
  stroke-miterlimit: 10;
  stroke-width: 2px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  transition: stroke-dashoffset 1s ease-out, stroke-opacity 1s ease-out;
}
.nav_hover .cls-2 {
  fill: #26B4C7;
  fill-opacity: 0;
  transition: fill-opacity 0.5s ease-out 0.5s;
}
.primary--nav--wrap a span {
  display: inline-block;
}
.primary--nav--wrap a span.hover {
  position: absolute;
  width: 100%;
  top: -14px;
}
.nav_wrap {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  max-width: 100%;
}

// Primary Nav
.primary--nav--wrap {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: block;
  }
}
.main-navigation__item--parent {
  position: relative;
}
.main-navigation__item--parent:hover > ul.main-navigation__sub-menu {
  visibility: visible;
  transition-delay: 0s; /* react immediately on hover */
}
.main-navigation__item:hover a .cls-2,
.main-navigation__item--current_page_item a .cls-2,
.main-navigation__item--current_page_ancestor a .cls-2,
.main-navigation__item--current-page-ancestor a .cls-2 {
  fill-opacity: 1;
  transition: fill-opacity 0.5s ease-out;
}
.main-navigation__item:hover a .cls-1,
.main-navigation__item--current_page_item a .cls-1,
.main-navigation__item--current_page_ancestor a .cls-1,
.main-navigation__item--current-page-ancestor a .cls-1 {
  stroke-dashoffset: 0;
  stroke-opacity: 1;
  transition: stroke-opacity 1s ease-out, stroke-dashoffset 1s ease-out 0.1s;
}
// Drop Downs
.main-navigation__sub-menu {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  transition: 0.2s 1s; /* delay of 1 seconds on hover off */
  width: 220px;
  padding: 35px 25px;
  left: 0;
  top: 60px;
  background: linear-gradient(135deg, rgba(38, 180, 199, 1) 0%, rgba(11, 142, 255, 1) 100%);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  li {
    margin: 0;
    padding: 0;
    display: block;
    text-align: left;
  }
}
.main-navigation__sub-menu::after {
  content: '';
  position: absolute;
  left: 40px;
  top: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(38, 180, 199, 1);
  transform: rotate(-180deg);
}
.main-navigation__sub-menu a {
  color: #FFFFFF;
  padding: 15px 0;
  display: block;
  border-bottom: 1px solid #337CC4;
}
.main-navigation__sub-menu li:first-child a {
  padding-top: 0;
}
.main-navigation__sub-menu li:last-child a {
  border: none;
  padding-bottom: 0;
}
span.nav--count {
  display: inline-block;
  margin-right: 10px;
  color: #164191;
}

// Secondary Nav
.secondary--nav--wrap--column {
  margin-bottom: 0 !important;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
    }
    a {
      font-size: 14px;
      color: #FFFFFF;
    }
  }
}
